<%- include('header'); -%>

<div
  class="popular-categories-area popular-categories-area-2 bg-light-gray pt-50px pb-50px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="section-heading">Our Services</h2>
        </div>
      </div>
    </div>
    <div class="popular-category-slider-wrapper slider-nav-style-2">
      <!-- single-item -->
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/phone.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Mobile Services</h4>
          <ul>
            <li>Screen Repair</li>
            <li>Software Repair</li>
            <li>Ports Cleaning</li>
            <li>Speaker Repair</li>
            <li>Body Break Repair</li>
            <li>Internal Faults Repair</li>
            <li>Mobile Network Maintenance</li>
            <li>Battery Change</li>
            <li>Warranty Extension</li>
          </ul>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/computer.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>PC Services</h4>
          <ul>
            <li>Laptop Screen Repair</li>
            <li>Software Repair</li>
            <li>Windows/Mac Related Issues</li>
            <li>Laptop Ports Cleaning</li>
            <li>Laptop Fans Cleaning</li>
            <li>Laptop Fans Repair</li>
            <li>Cooling Fluid Change</li>
            <li>Memory Related Issues</li>
            <li>Laptop Battery Change</li>
          </ul>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/repair.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Electronics Repair</h4>
          <ul>
            <li>Portable Speaker Repair</li>
            <li>Telephone Repair</li>
            <li>Headphone Repair</li>
            <li>Apple AirPod Repair</li>
            <li>Smart Watch Repair</li>
            <li>Hard Drive Repair</li>
            <li>UPS Battery Repair</li>
            <li>DSLR Repair</li>
            <li>Other Electronic Repair</li>
          </ul>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/others.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Other Services</h4>
          <ul>
            <li>Vape Repair</li>
            <li>Display Tempered</li>
            <li>Mobile Covers</li>
            <li>Laptop Skins</li>
            <li>Gaming Setup Support</li>
            <li>Laptop And Phone Chargers</li>
            <li>Consoles Related Issues</li>
            <li>Camera Related Services</li>
            <li>Online Services And Games</li>
          </ul>
        </div>
      </div>

      <!-- single-item end-->
    </div>
  </div>
</div>

<%- include('footer'); -%>
