<%- include('header'); -%>

<div class="offcanvas-overlay"></div>

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End-->
<!-- Shop Category Area End -->
<div class="shop-category-area mt-30px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Shop Top Area Start -->
        <div class="shop-top-bar d-flex">
          <!-- Left Side start -->
          <div class="shop-tab nav d-flex">
            <a class="active" href="#shop-1" data-bs-toggle="tab">
              <i class="fa fa-th"></i>
            </a>
           
            <p>Contact Store For Best Price</p>
          </div>
          <!-- Left Side End -->
          <!-- Right Side Start -->

          <!-- Right Side End -->
        </div>
        <!-- Shop Top Area End -->

        <!-- Shop Bottom Area Start -->
        <div class="shop-bottom-area mt-35">
          <!-- Shop Tab Content Start -->
          <div class="tab-content jump">
            <!-- Tab One Start -->
            <div id="shop-1" class="tab-pane active">
              <div class="row m-0">
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/skull1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/skull2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SKULL CANDY</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SKULL CANDY CRUSHER</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/earphone1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/earphone2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SKULL CANDY</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SKULL CANDY INDY ANC</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/apple1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/apple2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>APPLE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >APPLE AIRPODS</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/apple3.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/apple4.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>APPLE AIRPODS PRO</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >APPLE AIRPODS PRO</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/jbl1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/jbl2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link"
                            ><span>JBL</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >JBL FREE X</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/bose1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/bose2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>BOSE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >BOSE QUIETCOMFORT 45</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/bose3.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/bose4.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>BOSE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >BOSE EARBUDS</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/headphones/bose5.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/headphones/bose6.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>BOSE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >BOSE SPORTS EARBUDS</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                
              </div>
            </div>
            <!-- Tab One End -->
            <!-- Tab Two Start -->
            
            <!-- Tab Two End -->
          </div>
          <!-- Shop Tab Content End -->
          <!--  Pagination Area Start -->
         
          <!--  Pagination Area End -->
        </div>
        <!-- Shop Bottom Area End -->
      </div>
    </div>
  </div>
</div>
<!-- Shop Category Area End -->

<!-- News letter area -->

<!-- News letter area  End -->

<%- include('footer'); -%>
