<%- include('header'); -%>

<div class="offcanvas-overlay"></div>

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End-->
<!-- Shop Category Area End -->
<div class="shop-category-area mt-30px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Shop Top Area Start -->
        <div class="shop-top-bar d-flex">
          <!-- Left Side start -->
          <div class="shop-tab nav d-flex">
            <a class="active" href="#shop-1" data-bs-toggle="tab">
              <i class="fa fa-th"></i>
            </a>
           
            <p>Contact Store For Best Price</p>
          </div>
          <!-- Left Side End -->
          <!-- Right Side Start -->

          <!-- Right Side End -->
        </div>
        <!-- Shop Top Area End -->

        <!-- Shop Bottom Area Start -->
        <div class="shop-bottom-area mt-35">
          <!-- Shop Tab Content Start -->
          <div class="tab-content jump">
            <!-- Tab One Start -->
            <div id="shop-1" class="tab-pane active">
              <div class="row m-0">
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape1.webp"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape2.webp"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>ELFBAR</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >ELFBAR BC3500</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape3.webp"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape4.webp"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>VAPORESSO</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >VAPORESSO SOLO SKY</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape5.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape6.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>ASPIRE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >ASPIRE FLEXUS</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape7.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape8.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SMOK</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SMOK NORD 2</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape9.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape10.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>INNOKIN</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >INNOKIN COOLFIRE Z80</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape11.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape12.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>VOOPOO</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >KIT DRAG 2</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape13.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape14.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>GEEK BAR</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >GEEK BAR DISPOSABLE VAPE</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/vapes/vape15.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/vapes/vape16.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>AEGIS BOOSTS</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >AEGIS BOOST LE</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
               
                
                
              </div>
            </div>
            <!-- Tab One End -->
            <!-- Tab Two Start -->
            
            <!-- Tab Two End -->
          </div>
          <!-- Shop Tab Content End -->
          <!--  Pagination Area Start -->
         
          <!--  Pagination Area End -->
        </div>
        <!-- Shop Bottom Area End -->
      </div>
    </div>
  </div>
</div>
<!-- Shop Category Area End -->

<!-- News letter area -->

<!-- News letter area  End -->

<%- include('footer'); -%>
