<%- include('header'); -%>

<div class="offcanvas-overlay"></div>

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End-->
<!-- Shop Category Area End -->
<div class="shop-category-area mt-30px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Shop Top Area Start -->
        <div class="shop-top-bar d-flex">
          <!-- Left Side start -->
          <div class="shop-tab nav d-flex">
            <a class="active" href="#shop-1" data-bs-toggle="tab">
              <i class="fa fa-th"></i>
            </a>
           
            <p>Contact Store For Best Price</p>
          </div>
          <!-- Left Side End -->
          <!-- Right Side Start -->

          <!-- Right Side End -->
        </div>
        <!-- Shop Top Area End -->

        <!-- Shop Bottom Area Start -->
        <div class="shop-bottom-area mt-35">
          <!-- Shop Tab Content Start -->
          <div class="tab-content jump">
            <!-- Tab One Start -->
            <div id="shop-1" class="tab-pane active">
              <div class="row m-0">
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/apple13p1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/apple13p2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>APPLE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >IPHONE 13 PRO MAX</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/apple131.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/apple132.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>APPLE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >IPHONE 13</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/apple12p1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/apple12p2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link"
                            ><span>APPLE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >IPHONE 12 PRO</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/apple121.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/apple122.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>APPLE</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >IPHONE 12</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/samsung1.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/samsung2.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SAMSUNG</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SAMSUNG GALAXY S22 ULTRA</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/samsung3.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/samsung4.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SAMSUNG</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SAMSUNG GALAXY S22</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/samsung5.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/samsung6.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SAMSUNG</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SAMSUNG A73</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                <div class="mb-30px col-md-4 col-lg-3 col-sm-6 p-0">
                  <div class="slider-single-item">
                    <!-- Single Item -->
                    <article class="list-product p-0 text-center">
                      <div class="product-inner">
                        <div class="img-block">
                            <img
                              class="first-img"
                              src="/assets/images/shop/phones/samsung7.jpg"
                              alt=""
                            />
                            <img
                              class="second-img"
                              src="/assets/images/shop/phones/samsung8.jpg"
                              alt=""
                            />
                          
                          
                        <div class="product-decs">
                          <a class="inner-link" 
                            ><span>SAMSUNG</span></a
                          >
                          <h2>
                            <a  class="product-link"
                              >SAMSUNG A53</a
                            >
                          </h2>
                          
                        </div>
                        
                      </div>
                    </article>
                    <!-- Single Item -->
                  </div>
                </div>
                
              </div>
            </div>
            <!-- Tab One End -->
            <!-- Tab Two Start -->
            
            <!-- Tab Two End -->
          </div>
          <!-- Shop Tab Content End -->
          <!--  Pagination Area Start -->
         
          <!--  Pagination Area End -->
        </div>
        <!-- Shop Bottom Area End -->
      </div>
    </div>
  </div>
</div>
<!-- Shop Category Area End -->

<!-- News letter area -->

<!-- News letter area  End -->

<%- include('footer'); -%>
